<nav>
    <a href="/" id="logoRedirect"><img src="/images/logo.png" alt="FlightData"></a>
    <h1 style="display: inline">Flight Data Portal </h1>
    <ul>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/flights">Flights</a>
        <a href="/logins">Sign Up</a>
        <a href="/login">Log in</a>
    </ul>
</nav>