<nav>
    <h1>Week Eleven</h1>
    <a href="/">[home]</a>
    <a href="/about">[about]</a>
    <a href="/actors">[actors]</a>
    <a href="/logins">[logins]</a>
    <a href="/users">[users]</a>
</nav>