<nav>
    <h1>S3 Final Sprint-FSDB </h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/flights">Flights</a>
    <a href="/logins">Sign Up</a>
    <a href="/login">Log in</a>
</nav>