<nav>
    <h1>S3 Final Sprint-FSDB </h1>
    <a href="/">[home]</a>
    <a href="/about">[about]</a>
    <a href="/flights">[Flights]</a>
    <a href="/logins">[logins]</a>
    <a href="/users">[users]</a>
</nav>