<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <h2>About Flight Data Portal</h2>
            <p>The Flight Data Portal is a web application designed to manage and display flight information.</p>
            <p>It features user authentication, API endpoints for flight data, and a modular routing system.</p>
            </br>

    </body>
    <%- include('./partials/foot.ejs') %>

</html>