<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>about page</h1>
        <h2>This is where you cna see flights and see what time they are leaving and where there destination is </h2>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>