<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div id="home-container">
                <h2>Welcome to the Flight Data Portal</h2>
                <p>Your gateway to effortlessly manage and explore flight information.</p>
                <p>Check your upcoming flights, departure times, and stay updated on their status.</p>
            </div>
    </body>
    <%- include('./partials/foot.ejs') %>

</html>