    body {
        background-color: #1a1a1a;
        color: #ffffff;
        font-family: 'Arial Narrow Bold', sans-serif;
        overflow-x: hidden;
        margin-top: 80px;
    }
    /*sf*/
    
    nav {
        margin: auto;
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        justify-content: space-evenly;
        background-color: #343535;
        height: 66px;
        border-bottom: 2px solid #343535;
    }
    
    nav h1 {
        display: flex;
        align-items: center;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 15px;
    }
    
    nav #logoRedirect {
        text-decoration: none;
        margin: 2px;
        padding: 1px;
        color: #fff;
        transition: background-color 0.3s ease;
    }
    
    nav a:not(#logoRedirect) {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        transition: background-color 0.3s ease;
    }
    
    nav a:hover {
        background-color: #555;
    }
    
    nav img {
        margin: 0px;
        padding: 0px;
        height: 60px;
        width: 200px;
    }
    
    #flightsList li {
        background-color: #2e2e2e;
        border: 1px solid #3498db;
        max-width: 400px;
        margin-left: 5%;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
    }
    
    #flightsList button {
        background-color: #3498db;
        color: #000000;
        padding: 5px 10px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    #flightsList button:hover {
        background-color: #2980b9;
    }
    
    h2,
    h3 {
        color: #3498db;
    }
    
    a {
        color: #cde3f1;
    }
    /* Buttons */
    
    button {
        background-color: #3498db;
        color: #000000;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #2980b9;
    }
    /* Forms */
    
    form {
        max-width: 400px;
    }
    
    label {
        display: block;
        margin-bottom: 8px;
        color: #3498db;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }