    body {
        margin-top: 100px;
        background-color: #1a1a1a;
        color: #ffffff;
        font-family: 'Arial Narrow Bold', sans-serif;
        padding: 5px;
        overflow-x: hidden;
    }
    
    nav {
        background-color: #343535;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        width: 100%;
        padding: 5px;
    }
    
    li {
        list-style: none;
    }
    
    #flightsList li {
        background-color: #2e2e2e;
        border: 1px solid #3498db;
        max-width: 400px;
        margin-left: 5%;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        /* Add this line to clear the floats */
    }
    
    #flightsList button {
        background-color: #3498db;
        color: #000000;
        padding: 5px 10px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    #flightsList button:hover {
        background-color: #2980b9;
    }
    
    h2,
    h3 {
        color: #3498db;
    }
    
    a {
        color: #cde3f1;
    }
    /* Buttons */
    
    button {
        background-color: #3498db;
        color: #000000;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #2980b9;
    }
    /* Forms */
    
    form {
        max-width: 400px;
    }
    
    label {
        display: block;
        margin-bottom: 8px;
        color: #3498db;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }